<div class="jumbotron">
  <h1>Use Let's Go! to Plan Your Perfect Trip!</h1>
  <p>Plan and discuss your next trip with friends.</p>
  <p><%= link_to 'Register', register_path , class: "btn btn-primary btn-lg" %></p>
  <p>or</p>
  <p><%= link_to 'Login', login_path, class: "btn btn-default btn-lg"  %></p>
</div>