<div class="box panel panel-default">
  <%= link_to trip do %>
    <%= image_tag trip.cover.url %>
    <div class="panel-body"></div>
    <h2><%= trip.name %></h2>
  <% end %>
  <p class="user">Submitted by <%= trip.creator.username %></p>
</div>

