<p class="pull-right">
  [<%= link_to 'edit this trip', edit_trip_path(@trip) %>]
</p>

<%= render 'shared/content_title', title: @trip.name %>

<div><%= link_to 'New Post', new_trip_post_path(@trip) %></div>

<div id='pins' class="transitions-enabled">
  <%= render @posts %>
</div>

