<p>
  <%= time_ago_in_words(activity.created_at) %> ago, <%= link_to activity.owner.username, activity.owner %> created post

  <% if activity.trackable %>
    <%= link_to activity.trackable.title, trip_post_path(@trip, activity.trackable) %>
  <% else %>
    which has since been removed.
  <% end %>
</p>