<p>
<%= time_ago_in_words(activity.created_at) %> ago, <%= link_to activity.owner.username, activity.owner %> added a comment to post <%= link_to activity.trackable.post.title, trip_post_path(@trip, activity.trackable.post) %>
</p>