<%= link_to "Let's go!", root_path, class:'navbar-brand'  %>
<div class="container-fluid">
  <div id="navbar" class="navbar-collapse collapse ">
    <ul class="nav navbar-nav">
      <%= render 'layouts/trip_menu' %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%= render 'layouts/user_menu' %>
    </ul>
  </div>
</div>


