<li class='dropdown'>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <i class="glyphicon glyphicon-plane"></i>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <% Trip.all.each do |trip| %>
      <li><%= link_to trip.name, trip %></li>
    <% end %>
    <li class="divider"></li>
    <li>
      <%= link_to(new_trip_path) do%>
        <i class='icon-plus'></i>
        New Trip
      <% end %>
    </li>
  </ul>
</li>